body{
    background-image: url("assets/images/bg.jpg");
}
body{
    margin-top: 300px;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto'), local('Roboto-Bold'),
        url('assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
.btn{
    background-color: #1cb495;
    border-radius: 6px;
    padding: 17px 50px;
    color: white;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
    font-size: 10px;
    font-size: 20px;
    font-weight: bold;
}
.flex-container{
    align-items: center;
    justify-content: space-between;
    margin-left: 45px;
}
h1{
    font-size: 50px;
    font-family: 'Roboto-Bold';
    color: white;
}
p{
    font-size: 25px;
    font-family: 'Roboto';
    color: rgba(255,255,255,0.5);
    width: 650px;
}
img{
    height: 30px;
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}
footer{
    margin: 0;
    color: rgba(255,255,255,0.5);;
}

.type{
    border: 2px solid white;
    background: transparent;
    padding: 19px;
    padding-right: 200px;
    border-radius: 6px;
    font-size: 15px;
        font-weight: bold;
}

.foot{
    margin-top: 180px;
}


@media screen and (max-width: 768px ){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 150px;
    }
    .btn{
        
        margin: 20px 0;
        
        padding: 15px 150px;
    border-radius: 6px;
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    }
    .type{
        margin-top: 20px;
        display: inline-block;
        padding: 17px 0;
        padding-right: 155px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
    }
    p{
        width: 360px;
    }

}